@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap');

body {
    background-color: rgb(105, 130, 178);
    font-family: 'Hanken Grotesk', sans-serif;
    
}

button {
    border-radius: 12px;
    border: solid 1px black;
    background-color: beige;

}
button:hover {
    animation: opacity 1s ease-in-out;
}

@keyframes opacity {
    50% {
        opacity: 0.85;
    }
    100% {
        opacity: 1;
    }
}