@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300&display=swap');

body {
    background-color: rgb(105, 130, 178);
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    overflow-x: hidden;
}

pre {
    transition: 0.5s;
}

button {
    border-radius: 12px;
    border: solid 1px black;
    background-color: beige;

}
button:hover {
    animation: opacity 1s ease-in-out;
}

@keyframes opacity {
    50% {
        opacity: 0.85;
    }
    100% {
        opacity: 1;
    }
}

#title {
    font-weight: bold;
    font-size: 24px;

}

.styleclock {
    background: rgba(255,255,255,0.85);
    font-size: 12px;
    border: solid 1px black;
    border-radius: 10px;
}

.flex {
    display: flex;
    width: 100%;
    justify-content: center;
}

.welcome {
    opacity: 0.5;
    transform: translateX(-25%);
    animation: welcome 1s ease-out;
}

@keyframes welcome {
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}